.siriusPK{
  background:#CD4206;
  width:450px;
  height:500px;
  position:relative;
  overflow:hidden;
  margin:0 auto;
}
.siriusPK>br, .scajasPK>br, .sdatos2>br{
  display:none;
}
.simg1PK{
  position:absolute;
  top:0px;
  left:0px;
  width:400px;
  height:500px;
  z-index:0;
}
.simg2PK{
  position:absolute;
  width:150px;
  height:500px;
  top:0px;
  left:-150px;
  z-index:2;
}
.sdatos{
  position:absolute;
  top:0px;
  left:-150px;
  width:150px;
  height:500px;
  text-align:center;
  font:9px roboto;
  font-weight:bold;
  text-transform:uppercase;
  z-index:3;
  opacity:0;
}
.sdatos2{
  position:relative;
  top:50%;
  margin-top: 170px;
  transform:translateY(-50%);
}
.sdatos span{
  color:white;
  display:block;
  margin:0 10px;
  padding:4px 0;
  line-height:12px;
  height:11px;
  border-bottom:1px solid rgba(255,255,255,0.5);
}
.sdatos span:last-child{
  border-bottom:0px;
}
.scajasPK{
  background:#f1f1f1;
  width:250px;
  height:500px;
  position:absolute;
  top:0px;
  left:-250px;
  z-index:3;
}
.scajaPK h6{
  background:#CD4206;
  margin:-10px -10px 10px;
  height:25px;
  text-transform:uppercase;
  font:9px roboto;
  font-weight:bold;
  text-align:left;
  line-height:25px;
}
.scajaPK h6 i{
  background:#FF4F00;
  height:25px;
  width:25px;
  display:inline-block;
  color:white;
  vertical-align:top;
  font-size:10px;
  float:left;
  margin-right:10px;
  text-align:center;
  line-height:25px;
}
.scajaPK{
  background:#CD4206;
  border:10px solid #CD4206;
  margin:10px 10px 0;
  text-align:justify;
  color:#eee;
}
.scajaPK p{
  padding-right:5px;
  overflow:auto;
  margin:0 auto;
  font:11px roboto;
  line-height:12px;
}
.scaja1PK p{
  height:115px;
}
.scaja2PK p{
  height:265px;
}
.scajaPK b, .scajaPK strong, .scajaPK a{
  color:#CD4206;
}
.scajaPK a{
  text-decoration:underline;
}
.scaja1PK{
  height:140px;
}
.scaja2PK{
  height:290px;
}
.siriusPK div::selection, .siriusPK p::selection, .siriusPK b::selection, .siriusPK strong::selection, .siriusPK a::selection{
  background:#CD4206;
  color:white;
}
.simg1PK{
  transition:ease 1s;
}
.simg2PK, .sdatosPK{
  transition:ease 1s;
}
.scajasPK{
  transition:ease 1s;
  transition-delay:0s;
}
.stituloPK {
  background:#CD4206;
  height:500px;
  width:50px;
  position:absolute;
  top:0px;
  right:0px;
}
.stituloPK span{
  width:20px;
  display:block;
  font-size:28px;
  word-wrap: break-word;
  font-family:Cousine;
  font-weight:bold;
  color:white;
  text-align:center;
  line-height:30px;
  position:absolute;
  left:15px;
  top:500px;
  transition:ease 1s;
}
.stituloPK em{
  width:20px;
  display:block;
  font-size:28px;
  word-wrap: break-word;
  font-family:Cousine;
  font-weight:bold;
  font-style:normal;
  color:white;
  text-align:center;
  line-height:25px;
  position:absolute;
  left:15px;
  bottom:15px;
  margin:0 auto;
  transition:ease 1s;
  transition-delay:0.5s;
}
.siriusPK p::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.siriusPK p::-webkit-scrollbar-thumb {
  background: #CD4206;
  border:1px solid #FF4F00;
}
.siriusPK p::-webkit-scrollbar-track {
  background: #CD4206;
  border:1px solid #FF4F00;
}
.siriusPK:hover .simg1PK{
  left:400px;
}
.siriusPK:hover .simg2PK, .siriusPK:hover .sdatos{
  left:0px;
}
.siriusPK:hover .sdatos{
  opacity:1;
}
.siriusPK:hover .scajasPK{
  left:150px;
}
.siriusPK:hover .stituloPK span{
  top:15px;
  transition-delay:0.5s;
}
.siriusPK:hover .stituloPK em{
  bottom:500px;
  transition-delay:0s;
}
.ncreditPK{
  width:450px;
  text-align:right;
  margin:0 auto;
  display:block;
  font-size:10px;
  text-decoration:none;
  font:8px roboto;
}
.ncredit2PK{
  width:450px;
  text-align:right;
  margin:0 auto;
  display:block;
  font-size:10px;
  text-decoration:none;
  font:8px roboto;
}
.siriusPK+br+.ncreditPK{
  margin-top:-20px;
}
.ncreditPK:before{
  content:"©";
}

.phantomtemis {
  width: 430px;
  height: 30px;
}

.evansPK{ 
  background:#f1f1f1; 
  width:430px; 
  margin:0 auto; 
  height:auto; 
  padding:10px; 
} 
.etitlePK{ 
  background:#CD4206; 
  margin: -10px -10px 10px -10px; 
  font:16px Cousine; 
  font-weight:900;
  font-style:bold; 
  text-transform:uppercase; 
  text-align:center;
  color:white; 
  padding:10px; 
} 
.ebusquedaPK{ 
  background-color:#222; 
  background-size:cover; 
  background-position:center; 
  height:170px;
  position:relative; 
  margin-bottom:10px;
  overflow:hidden; 
} 
.enombrePK{ 
  position:absolute; 
  top:50%; 
  transform:translateY(-50%); 
  color:white;
  max-width:200px; 
  transition:ease 1s; 
} 
.ebusquedaPK:nth-of-type(odd) .enombrePK{ 
  left:20px; 
} 
.ebusquedaPK:nth-of-type(even) .enombrePK{ 
  right:20px; 
} 
.ebusquedaPK:nth-of-type(odd):hover .enombrePK{ 
  left:-320px; 
} 
.ebusquedaPK:nth-of-type(even):hover .enombrePK{ 
  right:-320px; 
} 
.ebusquedaPK:last-of-type{ 
  margin-bottom:0px; 
} 
.ebusquedaPK h6{ 
  margin:0; 
  font:15px Cousine; 
  font-weight:900; 
  font-style:bold; 
  text-transform:uppercase; 
} 
.enombrePK span{ 
  font:8px roboto; 
  text-transform:uppercase; 
} 
.edatosPK{ 
  background:#f1f1f1; 
  height:170px; 
  position:absolute; 
  top:0px;
  width:430px;
  transition:ease 1s; 
} 
.ebusquedaPK:nth-of-type(even) .edatosPK{ 
  left:-430px; 
} 
.ebusquedaPK:nth-of-type(odd) .edatosPK{
  right:-430px; 
} 
.ebusquedaPK:nth-of-type(even):hover .edatosPK{ 
  left:0px; 
} 
.ebusquedaPK:nth-of-type(odd):hover .edatosPK{ 
  right:0px; 
} 
.edatosPK img{ 
  float:left;
  position:relative; 
  top:50%; transform:translateY(-50%);
  border-radius:100%;
  border: 5px solid #CD4206;
  background:white;
  left:20px;
  height:100px;
  width:100px; 
} 
.edatosPK h7{ 
  float:right; 
  width:235px; 
  background:#FF4F00; 
  color:white;
  height:30px;
  display:block; 
  margin-right:20px; 
  margin: 20px 20px 0px 0;
  font:11px roboto; 
  font-weight:bold; 
  text-align:center;
  letter-spacing:1px; 
  text-transform:uppercase; 
  line-height:30px; 
} 
.edatosPK p{
  float:right;
  background:#CD4206;
  margin:0 20px 0 0; 
  width:212px;
  border:10px solid #CD4206;
  color:#eee;
  font:10px roboto;
  text-align:justify;
  overflow:auto;
  padding-right:3px;
  height:80px; 
} 
.ebusquedaPK:nth-of-type(even) .edatosPK img{ 
  float:right; 
  left:0px;
  margin-right:20px; 
} 
.ebusquedaPK:nth-of-type(even) .edatosPK h7, .ebusquedaPK:nth-of-type(even) .edatosPK p{
  float:left;
  margin-right:0px;
  margin-left:20px; 
} 

.evansPK p::-webkit-scrollbar { 
  width: 5px; 
  height: 5px; 
} 
.evansPK p::-webkit-scrollbar-thumb { 
  background: #CD4206; 
  border:1px solid #FF4F00; 
} 
.evansPK p::-webkit-scrollbar-track { 
  background: #CD4206; 
  border:1px solid #FF4F00; 
} 
.evansPK p::selection, .evansPK h6::selection, .evansPK h7::selection, .evansPK span::selection, .evansPK div::selection{ 
   background:#afb759; 
} 
.evansPK strong, .evansPK i, .evansPK a, .evansPK b, .evansPK em{ 
  color:#afb759; 
} 
