#temisign2 {
  -moz-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  -webkit-transition: all 1.2s ease-in-out;
  height: 300px;
  margin-left: -125px;
  width: 675px;
}
#temisign1:hover #temisign2 {
  margin-left: 0;
}
#temisign1 {
  background: #000;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 300px;
}
#temisign {
  color: #1A283A;
  height: 180px;
  margin-left: 20px;
  padding-top: 60px;
  width: 200px;
}
#temisign a {
background: #f5a9b8;
  box-sizing: border-box;
  color: #fff;
  width:100px;
  display: block;
  font-family: arial;
  font-size: 8px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 2px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
